@inject HttpClient Http

<h3>Book Details for @BookItem?.Title</h3>

@if (BookItem == null)
{
    <h3>Loading...</h3>
}
else
{
    <div class="row">
        <div class="col-6">
            @* <img style="width: 100%;" src="@BookItem?.ImageUrl" alt="@BookItem?.Title" /> *@
        </div>
        <div class="col-6">
            @BookItem?.Author
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private BookRecord? BookItem { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        BookItem = await Http.GetFromJsonAsync<BookRecord>($"/Books/{Id}");
    }
}